<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cheatsheet.css" rel="stylesheet">
</head>
<script>
    function doupdate(){
        document.requsetUpdate.submit();    }
</script>
<body>
<div>
    <div class="bd-example">
        <form class="row g-3" name="requsetUpdate" method="post" action="/update2">
            <input type="hidden" name="seq">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">MEMBER'S NUMBER</label>
                <input type="text" class="form-control is-valid" name="seq" id="validationServer00" th:value="${seq}" disabled>

                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">NAME</label>
                <input type="text" class="form-control is-valid" name="name" id="validationServer01" th:value="${name}" required>

                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">COUNT</label>
                <input type="text" class="form-control is-valid" name="count" id="validationServer02" th:value="${count}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">COMPANY</label>
                <input type="text" class="form-control is-invalid" name="company" id="validationServerUsername" th:value="${company}" aria-describedby="inputGroupPrepend3" required>
                <div class="invalid-feedback">
                    Please write a company.
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationServer03" class="form-label">SALE</label>
                <input type="text" class="form-control is-invalid" name="sale" id="validationServer03"  th:value="${sale}" required>
                <div class="invalid-feedback">
                    Please write a cosmetic's sale.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="button" onclick="doupdate();">수정</button>            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>