<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Request Page</title>
    <style>
        table {width:50%}
        table, th, td {border:4px solid black;
            border-collapse: collapse; padding:10px; }
        body{background-color: MediumSeaGreen; pacity: 0.3;}
    </style>
</head>
<body>
<center>
    <h1>매장 등록 페이지 입니다!</h1>
    <br>
    <h3>매장 등록 요청</h3>
    <form name="frm" action="/createStore" method="post">
        <p>
        <table>
            <tr>
                <td><label for="name" class="sr-only">NAME</label></td>
                <td><input type="text" id="name" name="name" class="form-control" placeholder="name" required autofocus></td>
            </tr>
            <tr>
                <td><label for="location" class="sr-only">LOCATION</label></td>
                <td><input type="text" id="location" name="location" class="form-control" placeholder="location" required autofocus></td>
            </tr>
            <tr>
                <td><label for="create_at" class="sr-only">CREATE_AT</label></td>
                <td><input type="date" id="create_at" name="create_at" class="form-control" placeholder="create_at" required autofocus></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button name="btn" type="submit" id="btnId">등록 버튼</button></td>
            </tr>
        </table>
        </p>
    </form>
    <h3>매장 전체 리스트 출력을 원하시면 아래 버튼을 눌러주세요~</h3>
    <form name="frm" action="/findCosAll" method="get">
        <button name="btnFinAll" type="submit" id="btnFinAll"><img src="C:\heejin\img\start.png"></button>
    </form>
</center>
</body>
</html>